html {
  height: 95%;
}
#chat_box {
  text-align: left;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #fff2df;
  color: #402020;
  height: 80%;
  width: 95%;
  border: 2px solid #d9ad7c;
  overflow: auto;
  box-shadow: 7px 7px;
}
#container {
  height: 100%;
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
#input {
  background-color: #fff2df;
  border: 2px solid #d9ad7c;
  color: #402020;
  width: 95%;
  height: auto;
  font-family: monospace;
  font-size: 28pt;
  box-shadow: 7px 7px;
}
form.console {
  font-family: monospace;
  font-size: 24pt;
  height: auto;
}
body {
	background: #674d3c;
  height: 95%;
  font-family: monospace;
  font-size: 12pt;
}
a:link, a:visited, p.intro a.email span.name {
	color: #402020;
  font-weight: bold;
}
a:hover, a:link:hover, a:visited:hover {
	color: #804040;
  font-weight: bold;
}
hr {
	border-color: #d4ac6e;
  width: 95%;
}
